
<p>
    Nome do Produto:
    <!-- <input type="text" [value]="produto.nome"> Apenas altera o valor do elemento html    --> 
    <!-- <input type="text" [value]="produto.nome" (input)="produto.nome=$event.target.value">     -->
    <input type="text" [(ngModel)]="produto.nome" name="nome">

</p>

<p>
    Valor do Produto:
    <!-- <input type="text" [value]="produto.valor"> Apenas altera o valor do elemento html -->
    <!-- <input type="text" [value]="produto.nome" (input)="produto.nome=$event.target.value">     -->
    <input type="text" [(ngModel)]="produto.valor" name="valor">
</p>

<p>
    <input type="button" (click)="adicionarProduto(produto)" value="Adicionar">
</p>

<div *ngFor="let produto of produtos">{{produto.nome}}</div>

<table *ngIf="produtos.length > 0">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <td>{{produto.nome}}</td>
            <td>{{produto.valor}}</td>
        </tr>
    </tbody>
</table>

















<div *ngIf="false">    
    <table>
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Valor
                </th>
            </tr>           
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>{{produto.nome}}</td>
                <td>{{produto.valor}}</td>
            </tr>
        </tbody>
    </table>    
</div>